src/main/xsd/box.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:include schemaLocation="user.xsd"></xs:include>
    <xs:element name="box">
  <xs:complexType>
    <xs:sequence>
    	<xs:element name="id_box" type="xs:string" maxOccurs="1" minOccurs="1"/>
    	<xs:element name="privateKey" type="xs:string" maxOccurs="1" minOccurs="1"/>
    	<xs:element name="ip" type="xs:string" maxOccurs="1" minOccurs="1"/>
                <xs:element name="TTL" type="xs:int" maxOccurs="1" minOccurs="1"/>
                <xs:element ref="user" maxOccurs="unbounded" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema>