src/main/xsd/comment.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="comment">
  <xs:complexType>
    <xs:sequence>
    	<xs:element name="login" type="xs:string" maxOccurs="1"
    		minOccurs="1" />
    	<xs:element name="unix_time" type="xs:double" maxOccurs="1"
    		minOccurs="1" />
                <xs:element name="comment" type="xs:string" maxOccurs="1" minOccurs="1" />
                <xs:element name="commentID" type="xs:string" maxOccurs="1" minOccurs="1"></xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema>