src/main/xsd/task.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="task">
    <xs:complexType>
      <xs:sequence>
                <xs:element type="xs:string" name="id" maxOccurs="1" minOccurs="1"/>
                <xs:element type="xs:string" name="task" maxOccurs="1" minOccurs="0" />
                <xs:element name="args" maxOccurs="1" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="arg" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="kwargs" maxOccurs="1" minOccurs="0"/>
        <xs:element type="xs:string" name="retries" maxOccurs="1" minOccurs="0"/>
                <xs:element type="xs:dateTime" name="eta" maxOccurs="1" minOccurs="0" />
            </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>