dvd2c-model/src/main/xsd/smtpProperty.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="smtpProperty">
		<xs:complexType>
			<xs:sequence>
			
				<xs:element name="host"		type="xs:string"	maxOccurs="1"	minOccurs="0" />
				<xs:element name="port"		type="xs:string"	maxOccurs="1"	minOccurs="0" />
				<xs:element name="username"	type="xs:string"	maxOccurs="1"	minOccurs="0" />
				<xs:element name="password"	type="xs:string"	maxOccurs="1"	minOccurs="0" />
				<xs:element name="token"	type="xs:string"	maxOccurs="1"	minOccurs="0" />
				
			</xs:sequence>
		</xs:complexType>
	</xs:element>
		
</xs:schema>